
//Định nghĩa biến màu chữ

$color-white-1: #fff;
$color-blue-1:#32e7;
$color-purple-1:#e2e7;


//Định nghĩa biến cỡ chữ

$fs-1:52 px;
$fs-2: 3 rem;

//Định nghĩa biến độ đậm của chữ

$fw-1: bold;
$fw-2: 900;

//Định nghĩa biến vị trí của chữ

$position-1: center;
$position-2: end;
